<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
     <!--Fonts-->
    
    
    <title>Title | Business | Town, Province</title>
</head>

   
<body>
     <!------------- Media / Contacts top bar ------------------------>
    <div class="mediaAndContact">
        <ul>
            <li><a href="facebook1.com" class="fa fa-instagram"></a></li>
            <li><a href="facebook2.com" class="fa fa-twitter"></a></li>
            <li><a href="facebook3.com" class="fa fa-facebook"></a></li>
            <li><a href="facebook4.com" class="fa fa-linkedin"></a></li>
        </ul>
    </div>
    <!------------- Media / Contacts top bar ------------------------>
    
    <!------------- Header Menu ------------------------>
    <div class=headerMenu>
        <a href="home.html"><img src="../images/logo-blue.png" alt="logo"></a>
        <div class="asdf"><div class="fa fa-bars" onclick="showMenu()"></div></div>
        <ul id="burgerMenu">
            <a  href="home.html"><li id="homePage">Home</li></a>
            <a  href="about.html"><li id="aboutPage">About</li></a>
            <a  href="store.html"> <li id="storePage">Store</li></a>
            <a  href="gallery.html"><li id="galleryPage">Gallery</li></a>
            <a  href="contact.html"><li id="contactPage">Contact Us</li></a>
        </ul>
       
    </div>
    <!------------- Header Menu ------------------------>




    <!--------------Main Section ------------------------>
    <div class="titleSection contactTitle">
        <h1>Contact Us</h1>
    </div>
    <div class="wrapper">
        <div class="contactUs">
            <div class="section sectionBlue address">
                <div class="fa fa-map-marker"></div>
                <h1>ADDRESS</h1>
                <p>Location, Province</p>
            </div>
            <div class="section sectionGray callToday">
                <div class="fa fa-phone"></div>
                <h1>CALL TODAY</h1>
                <p>(403) 123-4567</p>
            </div>
            <div class="section sectionBlue emailUs">
                <div class="fa fa-envelope"></div>
                <h1>EMAIL US</h1>
                <p>Email@gmail.com</p>
            </div>
            <div class="section sectionGray openingHours ">
                <div class="fa fa-clock-o"></div>
                <h1>OPERATING HOURS</h1>
                <p>Mon - Fri 10:00AM - 2:00PM</p>
                <p>Sat 12:00PM - 2:00PM</p>
                <p>Sun CLOSED</p>
            </div>
        </div>

    </div>
   
    <div class=wrapper><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2421.114707606271!2d-114.23923358255614!3d52.6398406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537598b93eb1aa85%3A0x6609a40c1412cb84!2sAmmonite%20World%20Storefront%20Inc.!5e0!3m2!1sen!2sca!4v1666821252584!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>




    <!--------------Main Section ------------------------>






</body>
<!------------- Footer ------------------------>
<footer class="footer">
    <div class="companyInfo">
        <div class="companyInfoImage"><img src="../images/logoWhite.png" alt="companyLogo"></div>
        <div class="companyDescription"><p>Company description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nisi nam eaque deserunt tenetur provident?</p></div>
    </div>
    <div class="footerSection companyMenu">
        <ul>
            <li class="topOfSection"><b>Company</b></li>
            <li><a href="home.html">Home</a></li>
            <li><a href="home.html">About Us</a></li>
            <li><a href="home.html">Services</a></li>
        </ul>
       

    </div>
    <div class="footerSection companySocials">
        <ul>
            <li class="topOfSection"><b>Social Media</b></li>
            <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook1.com" class="fa fa-instagram"></a></div><a href="facebook1.com">Instagram</a></div></li>
            <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook2.com" class="fa fa-twitter"></a></div><a href="facebook2.com">Twitter</a></div></li>
            <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook3.com" class="fa fa-facebook-official"></a></div><a href="facebook2.com">Facebook</a></div></li>
            <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook4.com" class="fa fa-linkedin"></a></div><a href="facebook2.com">LinkedIn</a></div></li>
        </ul>
    </div>
    
    <div class="footerSection companyContact">
        <ul>
            <li class="topOfSection"><b>Get In Touch</b></li>
            <li><div class="wrapperNoCenter"><div class="fa fa-map-marker"></div><p>Location, Province</p></div></li>
            <li><div class="wrapperNoCenter"><div class="fa fa-phone"></div><p>(403) 123-4567</p></div></li>
            <li><div class="wrapperNoCenter"><div class="fa fa-envelope"></div><p>Email@gmail.com</p></div></li>
        </ul>
    </div>
</footer> 
<!------------- Footer ------------------------>



<!------------- Scripts ------------------------>
<script src="../scripts/script.js"></script>
<!------------- Scripts ------------------------>
</html>