<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
     <!--Fonts-->
    
    <title>Ammonite World Gallery</title>
</head>
<body>
  <!------------- Media / Contacts top bar ------------------------>
  <div class="mediaAndContact">
    <ul>
        <li><a href="facebook1.com" class="fa fa-instagram"></a></li>
        <li><a href="facebook2.com" class="fa fa-twitter"></a></li>
        <li><a href="facebook3.com" class="fa fa-facebook"></a></li>
        <li><a href="facebook4.com" class="fa fa-linkedin"></a></li>
    </ul>
</div>
<!------------- Media / Contacts top bar ------------------------>

<!------------- Header Menu ------------------------>
<div class=headerMenu>
    <a href="home.html"><img src="../images/logo-blue.png" alt="companyLogo"></a>
    <div class="asdf"><div class="fa fa-bars" onclick="showMenu()"></div></div>
    <ul id="burgerMenu">
        <a  href="home.html"><li id="homePage">Home</li></a>
        <a  href="about.html"><li id="aboutPage">About</li></a>
        <a  href="store.html"> <li id="storePage">Store</li></a>
        <a  href="gallery.html"><li id="galleryPage">Gallery</li></a>
        <a  href="contact.html"><li id="contactPage">Contact Us</li></a>
    </ul>
   
</div>
<!------------- Header Menu ------------------------>


    <!--------------Gallery Itself---------------------->
<div class="titleSection galleryTitle">
    <h1>Gallery</h1>
</div>


<div class="gallery">
    <div class=arrowContainer>
        <div class="fa fa-arrow-left" onclick="arrowChange(-1)"></div>
        <div class="fa fa-arrow-right" onclick="arrowChange(1)"></div>    
    </div>
  
    <div class="mainImages">
      
        <img id="img0" class="picture" src="../images/jewelry1.PNG">
        <img id="img1" class="picture" src="../images/jewelry2.PNG">
        <img id="img2" class="picture" src="../images/jewelry3.PNG">
        <img id="img3" class="picture" src="../images/jewelry4.PNG">
        <img id="img4" class="picture" src="../images/jewelry6.PNG">
        <img id="img5" class="picture" src="../images/jewelry7.PNG">
        <img id="img6" class="picture" src="../images/jewelry8.PNG">
        <img id="img7" class="picture" src="../images/jewelry10.PNG"> 
        <img id="img8" class="picture" src="../images/jewelry11.PNG">
        <img id="img9" class="picture" src="../images/jewelry12.PNG">
        <img id="img10" class="picture" src="../images/jewelry13.PNG">
       
    </div>
    <div class="bottomImages">
        <img src="../images/jewelry1.PNG" onclick="changePicture(0)">
        <img src="../images/jewelry2.PNG" onclick="changePicture(1)">
        <img src="../images/jewelry3.PNG" onclick="changePicture(2)">
        <img src="../images/jewelry4.PNG" onclick="changePicture(3)">
        <img src="../images/jewelry6.PNG" onclick="changePicture(4)">
        <img src="../images/jewelry7.PNG" onclick="changePicture(5)">
        <img src="../images/jewelry8.PNG" onclick="changePicture(6)">
        <img src="../images/jewelry10.PNG" onclick="changePicture(7)"> 
        <img src="../images/jewelry11.PNG" onclick="changePicture(8)">
        <img src="../images/jewelry12.PNG" onclick="changePicture(9)">
        <img src="../images/jewelry13.PNG" onclick="changePicture(10)">
    </div>
</div>





    <!--------------Gallery Itself---------------------->



</body>
  <!------------- Footer ------------------------>
  <footer class="footer">
    <div class="companyInfo">
        <div class="companyInfoImage"><img src="../images/logoWhite.png" alt="companyLogo"></div>
        <div class="companyDescription"><p>Company description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nisi nam eaque deserunt tenetur provident?</p></div>
    </div>
    <div class="footerSection companyMenu">
        <ul>
            <li class="topOfSection"><b>Company</b></li>
            <li><a href="home.html">Home</a></li>
            <li><a href="home.html">About Us</a></li>
            <li><a href="home.html">Services</a></li>
        </ul>
       

    </div>
    <div class="footerSection companySocials">
        <ul>
            <li class="topOfSection"><b>Social Media</b></li>
            <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook1.com" class="fa fa-instagram"></a></div><a href="facebook1.com">Instagram</a></div></li>
            <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook2.com" class="fa fa-twitter"></a></div><a href="facebook2.com">Twitter</a></div></li>
            <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook3.com" class="fa fa-facebook-official"></a></div><a href="facebook2.com">Facebook</a></div></li>
            <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook4.com" class="fa fa-linkedin"></a></div><a href="facebook2.com">LinkedIn</a></div></li>
        </ul>
    </div>
    
    <div class="footerSection companyContact">
        <ul>
            <li class="topOfSection"><b>Get In Touch</b></li>
            <li><div class="wrapperNoCenter"><div class="fa fa-map-marker"></div><p>Location, Province</p></div></li>
            <li><div class="wrapperNoCenter"><div class="fa fa-phone"></div><p>(403) 123-4567</p></div></li>
            <li><div class="wrapperNoCenter"><div class="fa fa-envelope"></div><p>Email@gmail.com</p></div></li>
        </ul>
    </div>
</footer> 
<!------------- Footer ------------------------>



<!------------- Scripts ------------------------>
<script src="../scripts/script.js"></script>
<!------------- Scripts ------------------------>