<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
     <!--Fonts-->
    
    
    <title>Title | Business | Location</title>
</head>


<body>
    
    <!------------- Header Menu ------------------------>
    <div class=headerMenu>
        <img src = "../images/ammonite-no-border.png">
        <ul>
            <li><a href="otherPage.html">Home</a></li>
            <li><a href="otherPage.html">About</a></li>
            <li><a href="otherPage.html">Store</a></li>
            <li><a href="otherPage.html">Gallery</a></li>
        </ul>
    </div>
    <!------------- Header Menu ------------------------>






    <!------------- Footer ------------------------>

    <!------------- Footer ------------------------>
</body>
</html>