<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
     <!--Fonts-->
    
    
    <title>Title | Business | Town, Province</title>
</head>

   
<body>
     <!------------- Media / Contacts top bar ------------------------>
    <div class="mediaAndContact">
        <ul>
            <li><a href="facebook1.com" class="fa fa-instagram"></a></li>
            <li><a href="facebook2.com" class="fa fa-twitter"></a></li>
            <li><a href="facebook3.com" class="fa fa-facebook"></a></li>
            <li><a href="facebook4.com" class="fa fa-linkedin"></a></li>
        </ul>
    </div>
    <!------------- Media / Contacts top bar ------------------------>
    
    <!------------- Header Menu ------------------------>
    <div class=headerMenu>
        <a href="home.html"><img src="../images/ammonite-no-border.png"></a>
        <ul>
            <li><a href="otherPage.html">Home</a></li>
            <li><a href="otherPage.html">About</a></li>
            <li><a href="otherPage.html">Store</a></li>
            <li><a href="otherPage.html">Gallery</a></li>
            <li><a href="otherPage.html">Contact Us</a></li>
        </ul>
    </div>
    <!------------- Header Menu ------------------------>




    <!------------- Main Section / idea ------------------------>
    <div class="centerMainContent">
        <div class="mainContent">
            <h1>Enter your main idea or selling point here!</h1>
            <p>Supporting information about the idea, Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptas.</p>
            <div class="learnMoreCallNow">
                <a href="index.html"><button>Learn More</button></a>
                <div class="callNow">
                    <p class ="fa fa-mobile"></p>
                    <div class="details">
                        <p id="callNowAboveNumber">CALL NOW</p>
                        <b>(403) 123-4567</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="alignSellingPoint"></div>
        <div class="alignSellingPoint"></div>
    </div>
    <!------------- Main Section / idea ------------------------>

     <!------------- Other Services / Info ------------------------>

    <div class="otherServices">
        <div class="service service1">
            <div class=wrapper><div class="fa fa-diamond"></div></div>
            <h2>Enter other services provided here!</h2>
            <p>Supporting information about the service: Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, obcaecati?</p>
            <button>Learn More</button>
        </div>
        <div class="service service2">
            <div class=wrapper><div class="fa fa-usd"></div></div>
            <h2>Enter other services provided here!</h2>
            <p>Supporting information about the service: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, ipsam.</p>
            <button>Learn More</button>
        </div>
        <div class="service service3">
            <div class=wrapper><div class="fa fa-commenting"></div></div>
            <h2>Enter other services provided here!</h2>
            <p>Supporting information about the service: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, nulla?</p>
            <button>Learn More</button>
        </div>

    </div>



</body>
    <!------------- Footer ------------------------>
    <footer class="footer">
        <div class="companyInfo">
            <img src="../images/logoWhite.png">
            <div class="companyDescription"><p>Company description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nisi nam eaque deserunt tenetur provident?</p></div>
        </div>
        <div class="footerSection companyMenu">
            <ul>
                <li class="topOfSection"><b>Company</b></li>
                <li><a href="home.html">Home</a></li>
                <li>4<a href="home.html">About Us</a></li>
                <li><a href="home.html">Services</a></li>
            </ul>
           
 
        </div>
        <div class="footerSection companySocials">
            <ul>
                <li class="topOfSection"><b>Social Media</b></li>
                <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook1.com" class="fa fa-instagram"></a></div><a href="facebook1.com">Instagram</a></div></li>
                <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook2.com" class="fa fa-twitter"></a></div><a href="facebook2.com">Twitter</a></div></li>
                <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook3.com" class="fa fa-facebook-official"></a></div><a href="facebook2.com">Facebook</a></div></li>
                <li><div class="wrapperNoCenter"><div class="socialsContainer"><a href="facebook4.com" class="fa fa-linkedin"></a></div><a href="facebook2.com">LinkedIn</a></div></li>
            </ul>
        </div>
        
        <div class="footerSection companyContact">
            <ul>
                <li class="topOfSection"><b>Get In Touch</b></li>
                <li><div class="wrapperNoCenter"><div class="fa fa-map-marker"></div><p>Location, Province</p></div></li>
                <li><div class="wrapperNoCenter"><div class="fa fa-phone"></div><p>(403) 123-4567</p></div></li>
                <li><div class="wrapperNoCenter"><div class="fa fa-envelope"></div><p>Email@gmail.com</p></div></li>
            </ul>
        </div>
    </footer> 
    <!------------- Footer ------------------------>



    <!------------- Scripts ------------------------>
    <script src="../scripts/script.js"></script>
    <!------------- Scripts ------------------------>
</html>