.aboutUs{
    p{
        font-size: 16px;
    }
    .titleSection{
        display: flex;
        height: 250px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: $black;
        margin-bottom: 50px;
        ::before{
            content: "";
            position: absolute;
            width: 230px;
            height: 150px;
            border: 10px solid $blue;
            z-index: -1;
            margin: auto;
            transform:  translateX(8px) translateY(-45px);
           
        }
        h1{
            font-size: 60px;
            color: $backgroundColor;
            z-index: 1;
        }  
    }
    
    .introduction{
        padding-left: 10px;
       
        .introHeader{
            border-left: 4px solid $blue;
            padding-left: 5px;
           
            #header{
                color: $blue;
                font-weight: bold;
                font-size: 12px;
                
            }
            h3{
                font-size: 25px;
                
                
            }
        }
        #teamDescription{
            padding-top: 15px;
            
        }
        #teamDescription::before{
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: rgba(96, 95, 95, 0.129);
            transform: translate(0px, -200px);
            z-index: -1;
        }   
      
    }
    .aboutUsMembers{
        padding-top: 100px;
        
        .memberSection{
            padding-bottom: 75px;
            padding-left: 10px;
            
            .memberHeader{
                padding-left: 5px;
                border-left: 4px solid $blue;
                padding-top: 3px;
                
                h3{
                    font-size: 25px;   
                }
                p{
                    font-size: 13px;
                    color: $gray;
                    
                }
            }
           .memberDescription{
                padding-top: 15px;
                
           }
           .memberDescription:before{
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: rgba(96, 95, 95, 0.129);
           
            z-index: -1;
        }   
          
        
        }
    }

    img{
        width: calc(min(95%,450px));
        height: 300px;
        border: 2px solid $blue;
      
    }
}

