.aboutUs{
    p{
        font-size: 16px;
    }
   
    .headerSection{
        border-left: 4px solid $blue;
        padding-left: 5px;
      
        p{
            color: $blue;
            font-weight: bold;
            font-size: 12px;
           
        }
        p:before{
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: $blueshade;
            z-index: -1;
         
        }   
        h3{
            font-size: 25px;
        }
    }
    



    .introduction{
        padding-left: 10px;
        .headerSection h3{
            margin-bottom: 15px;
        } 
    }

    .aboutUsMembers{
        padding-top: 100px;
        padding-left: 10px;
        .memberSection{
            padding-bottom: 100px;
           .memberDescription{
                padding-top: 15px;        
           }
        }
    }




    
    img{
        width: calc(min(95%,450px));
        height: 300px;
        border: 2px solid $blue;
      
    }



}




@media(min-width:964px){
    .aboutUs{
        .textSection{
            width: 500px;
        }
        .introduction{
            display: flex;
            justify-content: center;

        }
        .aboutUsMembers{
           .memberSection{
            display: flex;
            justify-content: center;
            
           }
        }
        img{
            margin-right: 10px;
        }
    }

    

}

@media(min-width:1320px){
    .aboutUs{
        p{
            font-size: 19px;
        }
        .textSection{
            width: 800px;
            .headerSection{
                p{
                    font-size: 14px;
                }
                h3{
                    font-size: 30px;
                }
            }
        }

        img{
            margin-right: 70px;
        }
    }
}