.aboutUs{
    .titleSection{
        display: flex;
        height: 250px;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #808080;
        :before{
            content: "";
            position: absolute;
            width: 230px;
            height: 150px;
            border: 10px solid $blue;
            z-index: -1;
            margin: auto;
            transform:  translateX(8px) translateY(-45px);
           
        }
        h1{
            font-size: 60px;
            color: $backgroundColor;
            z-index: 1;
        }  
    }
    .aboutUsMembers{
        padding-top: 100px;

        .memberSection{
            padding-bottom: 75px;
            img{
                width: calc(min(95%,450px));
                height: 300px;
                border: 2px solid $blue;
                margin: 0px 10px;
            }
            .memberHeader{
                margin-left: 10px;
                padding-left: 5px;
                border-left: 3px solid $blue;
                padding-top: 3px;
                h3{
                    font-size: 28px;   
                }
                p{
                    font-size: 16px;
                }
            }
           .memberDescription{
                padding-top: 15px;
                padding-left: 10px;
           }
        }
    }
}

