.contactUs{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .section{
        width: 250px;
        height: 190px;
        text-align: center;
        margin: 0px 5px;
        
        h1{
            font-size: 20px;
            padding: 10px 0px;
            color: $blue;
        }
        p{
            font-size: 16px;
            padding-bottom: 10px;
           
        }
    
    }
    .sectionBlue{
        background-color: $blue;
        h1{
            color: $backgroundColor;
        }
        p{
            color: $backgroundColor;
        }
        .fa{
            color: $backgroundColor;
        }

    }
    .sectionGray{
        background-color: $blueshade;
        .fa{
            color: $blue;
        }
    }
    .fa{
        padding-top: 10px;
        font-size: 50px;
    }


}
iframe{
    width: calc(min(1000px, 100%));
    height: 500px;
    padding-bottom: 40px;
}

@media(max-width:880px){
    .contactUs{
        flex-wrap: wrap;

        .address{
            order:1;
        }
        .callToday{
            order:2;
        }
        .emailUs{
            order:3;
            
        }
        .openingHours{
            order:4;
            margin-top: 10px;
        }
    }
  
}
@media(max-width:779px){
    .contactUs{
        .section{
            margin-top: 10px;
        }
        .address{
            order:2;
        }
        .callToday{
            order:1;
        }
        .emailUs{
            order:3;
            margin-top: 10px;
        }
        .openingHours{
            order:4;
           
        }
    }
}
@media(max-width:779px){
    .contactUs{
        .address{
            order:2;
        }
        .callToday{
            order:1;
        }
        .emailUs{
            order:3;
            margin-top: 10px;
        }
        .openingHours{
            order:4;
           
        }
    }
}
@media(max-width:519px){
    .contactUs{
        .address{
            order:1;
        }
        .callToday{
            order:2;
        }
        .emailUs{
            order:3;
            margin-top: 10px;
        }
        .openingHours{
            order:4;
           
        }
    }
}