.footer{
    height: 200px;
    width: 100%;
    background-color: $black;
    position: relative;
    display: flex;
    .companyInfo{
        display: flex;
        align-items: center;
      
        .companyDescription{
            width: 300px;
            color: white;
        }
        img{
            height: 190px;
        }
        .companyMenu{
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
            }
            ul{
                list-style: none;
                
            }
          
        }
    }
   
}