.footer{
    height: 230px;
    width: 100%;
    background-color: $black;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    .fa{
        padding-right: 6px;
    }
    .fa-instagram, .fa-twitter{
        transform: translateY(1px);
    }
    .fa-facebook, .fa-linkedin{
        transform: translateY(-1px);
    }
 
    a{
        text-decoration: none;
        color:white;
        
    }
    .companyInfo{
        display: flex;
        align-items: center;
      
        .companyDescription{
            width: 300px;
            color: white
        }
        img{
            height: 230px;
        }
        
    }
    .footerSection{
        padding-right: 50px;
        padding-left: 50px;
        .topOfSection{
            padding-top: 30px;
            padding-bottom: 20px;
        }
        li{
            padding-bottom: 15px;
           
        }
      
    }

    .companySocials{
        .socialsContainer{
            width: 21px;
        }
    }
}
ul{
    list-style: none;
}
.wrapperNoCenter{
    display: flex;
    transition: 0.25s ease-in-out;
}
.wrapperNoCenter:hover{
    opacity: 60%;
}
.companyMenu{
    a{
        transition: 0.25s;
    }
    a:hover{
        opacity: 60%;
    }
}
@media (max-width: 1060px){
    .footer{
        display: grid;
        height: fit-content;
        grid-template-rows: 150px 150px 150px ;
        grid-template-columns: 150px 150px;
        grid-template-areas: 
        "a a" 
        "b b"
        "c d"
        "e f";
                              
        .footerSection{
            width: 200px;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: center;

            
        }
        .companyInfo{
            .companyDescription{
                grid-area: b;
            }
            img{
                grid-area: a;
                display: flex;
                justify-content: center;
            }
            
        }
        .companyMenu{
            grid-area: c;
            display: flex;
            justify-content: center;
        }
        .companySocials{
            grid-area: d;
        }
        .companyContact{
            grid-area: e;
            display: flex;
            padding: 0;
            justify-content: center;
            padding-left: 30px;
         
        }
    }
}