.footer{
    height: 200px;
    width: 100%;
    background-color: $black;
    position: relative;
    display: flex;
    justify-content: space-around;
    color: white;
  
   
    a{
        text-decoration: none;
        color:white;
        
    }
    .companyInfo{
        display: flex;
        align-items: center;
      
        .companyDescription{
            width: 300px;
            color: rgb(216, 211, 211);
        }
        img{
            height: 190px;
        }
        
    }
    .footerSection{
        .topOfSection{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        li{
            padding-bottom: 15px;
           
        }
      
    }
    .companyMenu{
       
    }
    .companySocials{
      display: flex;
      flex-direction: column;
       
    }
    .companyContact{
       
    }
}
ul{
    list-style: none;
}