.headerMenu{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    height: 150px;
    width: 100%;
    background-color: $backgroundColor;
    color: $grey;
    box-shadow: 0 0px 20px 0 rgb(83, 83, 83);

    .fa{
        display: none;
        
    }
    .fa:active{
        animation: spin 0.5s;
        animation-fill-mode: forwards;
    }
    img{
        height: 100px;
        padding-left: 40px;
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        width: 100%;
        
        a{
            text-decoration: none;
            color: black;
            padding-right: 6vw;
            
            
            :after{
                display: block;
                content: "";
                border-bottom: 3px solid $blue;
                transform: scaleX(0);
                transition: 250ms ease-in-out;
                
            }
            :hover::after{
                transform: scaleX(1);
                transform-origin: 50% 100%;
                
            }
        }
        li{
            height: 26px;
            font-size: 22px;
            font-weight: 600;   
        }
        
    }
}
@media(max-width:890px){
    .headerMenu{
        position: relative;
        height: fit-content;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        .fa{
            display: block;
            position: absolute;
            font-size: 40px; 
            right: 15px;
            top: 22px;
            
        }
       
        ul{
            display: none;
            background-color: rgb(255, 255, 255);
            flex-basis: 100%;
            text-align: center;
            transition: 0.5s ease-in-out;
           
            li{
                padding: 0;
                padding-top: 15px;
                
            }
            a{
                :hover{
                    background-color: rgba(201, 200, 200, 0.582);
                  
                }
            }
            
        }
        img{
            height: 80px;
        }   

        
    }
}
@keyframes spin{ 
    25%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(90deg);
        
    }
}
