.gallery{
    width: 100%;
    height: auto;
    background-color: $black;
    
    .mainImages{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        img{
            display: none;
            height: 250px;
            width: auto;
        }
        #img1{
            display: block;
        }
    }


    .bottomImages{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
            height: 100px;
        }
        img:hover{
            opacity: 60%;
        }
    }
    
   
}
