.titleSection{
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: $black;
    background-image: url(/images/gridBackground.svg);
    
    ::before{
        content: "";
        position: absolute;
        width: 230px;
        height: 100px;
        border: 10px solid $blue;
        z-index: -1;
        margin: auto;
    }
    h1{
        font-size: 60px;
        color: $backgroundColor;
        z-index: 1;
    }  
}
.aboutTitle{
    margin-bottom: 50px;
    ::before{
        transform:  translateX(8px) translateY(-23px);
    }  
}
.galleryTitle{
    margin-bottom: 10px;
    ::before{
        width: 170px;
        transform:  translateX(8px) translateY(-23px);
    }  
}