* {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
}

body {
  background-color: #FAFAFA;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  height: 150px;
  width: 100%;
  background-color: #FAFAFA;
  color: #474747;
  -webkit-box-shadow: 0 0px 20px 0 #535353;
          box-shadow: 0 0px 20px 0 #535353;
}

.headerMenu .fa {
  display: none;
}

.headerMenu .fa:active {
  -webkit-animation: spin 0.5s;
          animation: spin 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.headerMenu img {
  height: 100px;
  padding-left: 40px;
}

.headerMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.headerMenu ul a {
  text-decoration: none;
  color: black;
  padding-right: 6vw;
}

.headerMenu ul a :after {
  display: block;
  content: "";
  border-bottom: 3px solid #02333d;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.headerMenu ul a :hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.headerMenu ul li {
  height: 26px;
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 890px) {
  .headerMenu {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .headerMenu .fa {
    display: block;
    position: absolute;
    font-size: 40px;
    right: 15px;
    top: 22px;
  }
  .headerMenu ul {
    display: none;
    background-color: white;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .headerMenu ul li {
    padding: 0;
    padding-top: 15px;
  }
  .headerMenu ul a :hover {
    background-color: rgba(201, 200, 200, 0.582);
  }
  .headerMenu img {
    height: 80px;
  }
}

@-webkit-keyframes spin {
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes spin {
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.footer {
  height: 230px;
  width: 100%;
  background-color: #39373b;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 16px;
}

.footer .fa {
  padding-right: 6px;
}

.footer .fa-instagram, .footer .fa-twitter {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.footer .fa-facebook, .footer .fa-linkedin {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer .companyInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .companyInfo .companyDescription {
  width: 300px;
  color: white;
}

.footer .companyInfo img {
  height: 220px;
}

.footer .footerSection {
  padding: 0px 50px;
}

.footer .footerSection .topOfSection {
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer .footerSection li {
  padding-bottom: 15px;
}

.footer .companySocials .socialsContainer {
  width: 21px;
}

.footer .companyContact {
  padding-right: 0px;
}

ul {
  list-style: none;
}

.wrapperNoCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.wrapperNoCenter:hover {
  opacity: 60%;
}

.companyMenu a {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.companyMenu a:hover {
  opacity: 60%;
}

@media (max-width: 1100px) {
  .footer .footerSection {
    padding: 0px 20px;
  }
}

@media (max-width: 970px) {
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .companyInfo {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .companyInfo .companyDescription {
    text-align: center;
  }
  .footer .companyInfo .companyInfoImage {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .companyInfo .companyInfoImage img {
    height: 190px;
  }
  .footer .footerSection {
    padding-top: 70px;
    width: 192px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footerSection .topOfSection {
    padding-top: 55px;
  }
}

@media (max-width: 575px) {
  .footer .companyContact {
    text-align: center;
  }
}

.mediaAndContact {
  height: 30px;
  width: 100%;
  background-color: #39373b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mediaAndContact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-right: 100px;
}

.mediaAndContact ul a {
  text-decoration: none;
  color: white;
}

.mediaAndContact ul li {
  padding-right: 25px;
  padding-left: 25px;
}

.mediaAndContact ul .fa {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mediaAndContact ul .fa:hover {
  opacity: 60%;
}

@media (max-width: 1064px) {
  .mediaAndContact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mediaAndContact ul {
    padding: 0;
  }
}

.centerMainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

.centerMainContent .alignSellingPoint {
  width: 400px;
  margin-right: 30px;
}

.mainContent {
  width: 400px;
  margin: 0px 30px;
}

.mainContent h1 {
  font-size: 50px;
  padding-bottom: 15px;
  line-height: 55px;
}

.mainContent p {
  font-size: 16px;
}

.mainContent button {
  width: 150px;
  height: 50px;
  background-color: white;
  border: 0px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 4px;
  margin-right: 20px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mainContent button:hover {
  -webkit-box-shadow: inset 150px 0 0 0 #1d9ab6;
          box-shadow: inset 150px 0 0 0 #1d9ab6;
  cursor: pointer;
}

.mainContent .learnMoreCallNow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.mainContent .learnMoreCallNow .callNow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainContent .learnMoreCallNow .callNow .fa {
  font-size: 50px;
  margin-right: 8px;
}

.mainContent .learnMoreCallNow .callNow #callNowAboveNumber {
  font-size: 16px;
}

.mainContent .learnMoreCallNow .callNow .details {
  padding-top: 6px;
}

@media (max-width: 1060px) {
  .mainContent {
    margin: 0;
  }
  .mainContent button:hover {
    -webkit-box-shadow: inset 0 0 0 0;
            box-shadow: inset 0 0 0 0;
  }
  .centerMainContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 400px;
    padding-left: 0px;
  }
  .alignSellingPoint {
    display: none;
  }
}

.otherServices {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.otherServices .service {
  width: 400px;
  height: 450px;
  margin-right: 30px;
  border-radius: 3px;
  color: white;
  background-color: #02333d;
  -webkit-box-shadow: 5px 20px 15px 0 #535353;
          box-shadow: 5px 20px 15px 0 #535353;
}

.otherServices .service h2 {
  font-size: 35px;
  padding: 15px;
}

.otherServices .service p {
  font-size: 20px;
  margin: 5px 15px;
}

.otherServices .service .fa {
  font-size: 70px;
  margin-top: 20px;
}

.otherServices .service button {
  width: 150px;
  height: 50px;
  background-color: #aefa67;
  border: 0px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  margin-right: 15px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  margin: 45px 15px;
  border: 1px solid #39373b;
}

.otherServices .service button:hover {
  -webkit-box-shadow: inset 175px 0 0 0 #1d9ab6;
          box-shadow: inset 175px 0 0 0 #1d9ab6;
  cursor: pointer;
}

.otherServices .service1 {
  margin-left: 15px;
}

.otherServices .service3 {
  margin-right: 15px;
}

@media (max-width: 1160px) {
  .otherServices .service {
    height: 380px;
    width: 380px;
  }
  .otherServices .service h2 {
    font-size: 28px;
  }
  .otherServices .service p {
    font-size: 16px;
  }
  .otherServices .service .fa {
    font-size: 50px;
  }
  .otherServices .service button {
    width: 125px;
    height: 40px;
    font-size: 16px;
  }
  .otherServices .service button:hover {
    -webkit-box-shadow: inset 0 0 0 0;
            box-shadow: inset 0 0 0 0;
  }
}

@media (max-width: 930px) {
  .otherServices .service button {
    margin: 20px 15px;
  }
}

@media (max-width: 775px) {
  .otherServices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1050px;
  }
  .otherServices .service {
    margin: 0;
    margin-top: 20px;
    width: calc(min(100%, 400px));
    height: 300px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .otherServices .service button {
    margin: 10px 15px;
  }
}

@media (max-width: 320px) {
  .otherServices .service {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.photoGallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[11];
      grid-template-columns: repeat(11, 50px);
  -ms-grid-rows: (50px)[20];
      grid-template-rows: repeat(20, 50px);
  grid-gap: 5px;
}

.photoGallery img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.photoGallery #img1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.photoGallery #img2 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.photoGallery #img3 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 12;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 8;
}

.photoGallery #img4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 13;
}

.photoGallery #img6 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 13;
}

.photoGallery #img7 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 12;
  -ms-grid-row: 8;
      grid-row-start: 8;
  grid-row-end: 13;
}

.photoGallery #img8 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 13;
      grid-row-start: 13;
  grid-row-end: 16;
}

.photoGallery #img10 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 13;
      grid-row-start: 13;
  grid-row-end: 18;
}

.titleSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleSection :before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  border: 5px solid rgba(128, 128, 128, 0.514);
  z-index: -1;
  margin: auto;
}

.titleSection h1 {
  font-size: 50px;
}
/*# sourceMappingURL=style.css.map */