$font:'proxima-nova', sans-serif;


$black: #39373b;
$gray: #e2e1e1;
$accent: #fce070;
$accentshade: rgba(241, 122, 168, 0.274);
//$blue: rgb(0, 63, 117);
$blue: rgb(59, 95, 126);
//$blue: #083045;
$lighterblue: rgb(61, 125, 180);
$lightblue: #31b7d4;
$blueshade: #025b6d13;
$backgroundColor: #FAFAFA;


*{
    margin: 0;
    padding: 0;
    font-family: $font;
}

body{
    background-color: $backgroundColor;
}

.wrapper{
    display: flex;
    justify-content: center;
   
}

//css for header/footer on all pages
@import "_headerMenu.scss";
@import "_footer.scss";
@import "_mediaAndContact.scss";
@import "_titleSection.scss";

//css for home.html

@import "_mainContent.scss";
@import "_otherServices.scss";



//css for gallery.html;
@import "_photoGallery.scss";

//css for about.html
@import "_aboutUs.scss";

//css for contact.html
@import "_contact.scss";