$font:'proxima-nova', sans-serif;


$black: #39373b;
$gray: #5f5f5f;
$green: rgb(214, 174, 64);
$blue: #025b6d;
//$blue: rgb(0, 63, 117);

$lightblue: #31b7d4;
$blueshade: #025b6d13;
$backgroundColor: #FAFAFA;


*{
    margin: 0;
    padding: 0;
    font-family: $font;
}

body{
    background-color: $backgroundColor;
}

.wrapper{
    display: flex;
    justify-content: center;
   
}

//css for header/footer on all pages
@import "_headerMenu.scss";
@import "_footer.scss";
@import "_mediaAndContact.scss";
@import "_titleSection.scss";

//css for home.html

@import "_mainContent.scss";
@import "_otherServices.scss";



//css for gallery.html;
@import "_photoGallery.scss";

//css for about.html
@import "_aboutUsTitle.scss";
