$black: #39373b;
$grey: #474747;
$purple: #564D65;
$lavender:#86b3b970;
$blue: #6290C8;
$green: #74A57F;
$darkgreen: #56775c;
$font:'proxima-nova', sans-serif;



*{
    margin: 0;
    padding: 0;
    font-family: $font;
}

body{
    background-color: $green;
}

.wrapper{
    display: flex;
    justify-content: center;
   
}
@import "_headerMenu.scss";
@import "_footer.scss";
@import "_mediaAndContact.scss";
@import "_mainContent.scss";
@import "_otherServices.scss";