* {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
}

body {
  background-color: #74A57F;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.headerMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  height: 150px;
  width: 100%;
  background-color: white;
  color: #474747;
  box-shadow: 0 0px 20px 0 rgb(83, 83, 83);
}
.headerMenu img {
  height: 250px;
}
.headerMenu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
}
.headerMenu ul a {
  text-decoration: none;
  color: black;
}
.headerMenu ul li {
  padding-right: 6vw;
  font-size: 24px;
  font-weight: 600;
}
.headerMenu ul li :after {
  display: block;
  content: "";
  border-bottom: 3px solid #74A57F;
  transform: scaleX(0);
  transition: 250ms ease-in-out;
}
.headerMenu ul li :hover::after {
  transform: scaleX(1);
  transform-origin: 50% 100%;
  display: block;
}

.footer {
  height: 230px;
  width: 100%;
  background-color: #39373b;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
}
.footer .fa {
  padding-right: 6px;
}
.footer .fa-instagram, .footer .fa-twitter {
  transform: translateY(1px);
}
.footer .fa-facebook, .footer .fa-linkedin {
  transform: translateY(-1px);
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer .companyInfo {
  display: flex;
  align-items: center;
}
.footer .companyInfo .companyDescription {
  width: 300px;
  color: white;
}
.footer .companyInfo img {
  height: 230px;
}
.footer .footerSection {
  padding-right: 50px;
  padding-left: 50px;
}
.footer .footerSection .topOfSection {
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer .footerSection li {
  padding-bottom: 15px;
}
.footer .companySocials .socialsContainer {
  width: 21px;
}

ul {
  list-style: none;
}

.wrapperNoCenter {
  display: flex;
  transition: 0.25s ease-in-out;
}

.wrapperNoCenter:hover {
  opacity: 60%;
}

.companyMenu a {
  transition: 0.25s;
}
.companyMenu a:hover {
  opacity: 60%;
}

.mediaAndContact {
  height: 30px;
  width: 100%;
  background-color: #39373b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mediaAndContact ul {
  display: flex;
  list-style: none;
  padding-right: 100px;
}
.mediaAndContact ul a {
  text-decoration: none;
  color: white;
}
.mediaAndContact ul li {
  padding-right: 25px;
  padding-left: 25px;
}
.mediaAndContact ul .fa {
  transition: 0.25s ease-in-out;
}
.mediaAndContact ul .fa:hover {
  opacity: 60%;
}

.centerMainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.centerMainContent .alignSellingPoint {
  width: 400px;
  margin-right: 30px;
}

.mainContent {
  width: 400px;
  margin-right: 30px;
}
.mainContent h1 {
  font-size: 50px;
  padding-bottom: 15px;
  line-height: 55px;
}
.mainContent p {
  font-size: 20px;
}
.mainContent button {
  width: 150px;
  height: 50px;
  background-color: white;
  border: 0px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 4px;
  margin-right: 15px;
  transition: 0.25s ease-in-out;
}
.mainContent button:hover {
  box-shadow: inset 150px 0 0 0 #56775c;
  cursor: pointer;
}
.mainContent .learnMoreCallNow {
  display: flex;
  padding-top: 15px;
  transition: 0.5s ease-in-out;
}
.mainContent .learnMoreCallNow .callNow {
  display: flex;
}
.mainContent .learnMoreCallNow .callNow .fa {
  font-size: 50px;
  margin-right: 8px;
}
.mainContent .learnMoreCallNow .callNow #callNowAboveNumber {
  font-size: 16px;
}

.otherServices {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}
.otherServices .service {
  width: 400px;
  height: 450px;
  margin-right: 30px;
  border-radius: 3px;
  color: white;
  box-shadow: 0 20px 30px 0 rgb(83, 83, 83);
}
.otherServices .service h2 {
  font-size: 35px;
  padding: 15px;
}
.otherServices .service p {
  font-size: 20px;
  margin: 5px 15px;
}
.otherServices .service .fa {
  font-size: 80px;
  margin-top: 20px;
}
.otherServices .service button {
  width: 150px;
  height: 50px;
  background-color: white;
  border: 0px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 15px;
  transition: 0.25s ease-in-out;
  margin: 45px 15px;
  border: 1px solid #39373b;
}
.otherServices .service button:hover {
  box-shadow: inset 150px 0 0 0 #56775c;
  cursor: pointer;
}
.otherServices .service1 {
  background-color: #474747;
}
.otherServices .service2 {
  background-color: #474747;
}
.otherServices .service3 {
  background-color: #474747;
}

@media (max-width: 1060px) { 
  .otherServices {
    flex-direction: column;
    align-items: center;
    height: 1500px;
  }
  .otherServices .service {
    margin-top: 25px;
  }
}/*# sourceMappingURL=style.css.map */